site_name: "實證醫學 健康之道"

theme:
    name: 'material'
    palette:

    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

    language: zh-Hant
    font: 
      text: Noto Sans Traditional Chinese

# Extensions
markdown_extensions:
  - footnotes
  # - attr_list
  - pymdownx.arithmatex:
      generic: true
  # - pymdownx.superfences
  # - pymdownx.details
  # - pymdownx.magiclink
  - pymdownx.tasklist:
      custom_checkbox: true
  - def_list
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - toc:
      permalink: true

plugins:
  - search
  - roamlinks

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/mermaid/dist/mermaid.min.js 

extra_css:
  - stylesheets/extra.css

extra:
  generator: false

nav: 
  - 目錄: "0. 目錄.md"
  - 序言: "1. 序言.md"
  - 引子: "2. 健康壽命.md"
  - 睡眠: 
    - 睡眠極重要: "3. 睡眠/3.1 睡眠極重要.md"
    - 睡眠指南: "3. 睡眠/3.2 睡眠指南.md"
    - 中醫看睡眠: "3. 睡眠/3.3 中醫看睡眠.md"
  - 營養: 
    - 什麼是營養: "4. 營養/4.1 什麼是營養.md"
    - 飲食指南: "4. 營養/4.2 飲食指南.md"
    - 食多一些: "4. 營養/4.3 食多一些.md"
    - 食少一些: "4. 營養/4.4 食少一些.md"
    - 補充劑: "4. 營養/4.5 補充劑.md"
    - 中醫飲食原則: "4. 營養/4.6 中醫飲食原則.md"
  - 運動: 
    - 從零開始: "5. 運動/5.1 從零開始.md"
    - 中醫運動原則: "5. 運動/5.3 中醫運動原則.md"
    - 運動指南: "5. 運動/5.2 運動指南.md"
  - 快樂: "6. 快樂指南"
  - 長期病:
    - 防癌: "7. 長期病/7.6 防癌.md"
    - 腸胃問題: "7. 長期病/7.2 腸胃問題.md"
    - 精神健康問題: "7. 長期病/7.3 精神健康問題.md"
    - 退化性疾病: "7. 長期病/7.5 退化性疾病.md"
    - 睡眠問題: "7. 長期病/7.4 睡眠問題.md"
    - 都市病: "7. 長期病/7.1 都市病.md"
